---
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";
import brand from "../api/brand.json";
---

<Layout 
    title="WoodBox: Sobre nosotros" 
    description=""
>
    <main>
        <div style="max-width: 1000px; margin: 0 auto;" class="uk-align-center uk-border-rounded uk-card uk-card-default uk-card-body">
            <h1>Mision, Vision y Valores de la empresa</h1>
            <hr>
            <div>
                <div style="width: fit-content;">
                    <div class="uk-border-rounded uk-tile uk-tile-primary uk-padding-small">
                        <p class="uk-h4">Mision</p>
                    </div>
                </div>
                <p>{brand[0].mision}</p>
            </div>
            <div>
                <div style="width: fit-content;">
                    <div class="uk-border-rounded uk-tile uk-tile-primary uk-padding-small">
                        <p class="uk-h4">Vision</p>
                    </div>
                </div>
                <p>{brand[0].vision}</p>
            </div>
            <div>
                <div style="width: fit-content;">
                    <div class="uk-border-rounded uk-tile uk-tile-primary uk-padding-small">
                        <p class="uk-h4">Valores</p>
                    </div>
                </div>
                <p><ul>{brand[0].valores.map((valor) => <li>{valor}</li>)}</ul></p>
            </div>
        </div>    
    </main>
</Layout>