---
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";
---

<Layout title="WoodBox: Contact US">
    <main>
        <h1>Contact US</h1>
        <hr>
        <ol>
            <li><a href="https://www.instagram.com/woodbox_co/" rel="external nofollow noopener" target="_blank">Instagram</a></li>
        </ol>
    </main>
    <Footer />
</Layout>