---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";
---

<Layout title="WoodBox: Contact US">
    <Header />
    <main>
        <h1>Contact US</h1>
        <hr>
        <ul>
            <li><a href="https://www.instagram.com/woodbox_co/" rel="external nofollow noopener" target="_blank">Instagram</a></li>    
        </ul>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <form method="POST" class="uk-form-horizontal" action="#" id="formContactV1">
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-large" id="form_name" name="form_name" type="text" placeholder="John Doe" aria-label="Name" required>
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-large" type="email" name="form_email" id="form_email" placeholder="john.does@gmail.com" aria-label="Email" required>
                </div>
                <div class="uk-margin">
                    <textarea class="uk-textarea uk-form-width-large" name="form_message" rows="5" id="form_message" placeholder="Mensaje" aria-label="Mensaje" required></textarea>
                </div>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label>
                        <input class="uk-checkbox" type="checkbox" required>
                        <small>Autorizo el tratamiento de mis datos personales</small>
                    </label>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-border-rounded uk-button-primary" type="submit" id="form_submit" value="Enviar">Enviar</button>
                </div>
            </form>
        </div>    
    </main>
    <script src="/assets/js/contact.js" is:inline></script>
    <Footer />
</Layout>