---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Woodbox">
	<main>
		<h1>Woodbox</h1>
		<hr>
		<ol>
			<li><a href="https://www.woodboxes.co/contact">Contact</a></li>
			<li><a href="https://www.woodboxes.co/privacy-policy">Privacy policy</a></li>
			<li><a href="https://www.woodboxes.co/terms">Terms</a></li>
		</ol>
	</main>
</Layout>