---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Woodbox">
	<Header />
	<main>
		<div class="uk-margin uk-border-rounded uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80" uk-img>
			<h1>WoodBox_ Custom Works</h1>
		</div>
	</main>
	<Footer />
</Layout>