---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Woodbox">
	<Header />
	<main>
		<h1>Woodbox</h1>
		<hr>
		<ol>
			<li><a href="https://www.woodboxes.co/team">Team</a></li>
			<li><a href="https://www.woodboxes.co/contact">Contact</a></li>
			<li><a href="https://www.woodboxes.co/privacy-policy">Privacy policy</a></li>
			<li><a href="https://www.woodboxes.co/terms">Terms</a></li>
		</ol>
	</main>
	<Footer />
</Layout>