---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";
---

<Layout title="WoodBox: Team">
    <Header />
    <main>
        <h1>WoodBox Team</h1>
        <hr>
        <ul>
            <li>Ariana Ramos</li>
            <li>Angie Sandoval</li>
            <li>Celeste Rodriguez</li>
            <li>Josefh Bernal</li>
            <li>Santiago Molina</li>
            <li>Emanuel Zabaleta</li>
        </ul>
    </main>
    <Footer />
</Layout>