---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";
---

<Layout title="WoodBox: Team">
    <Header />
    <main>
        <h1>WoodBox Team</h1>
        <hr>
        <div class="container" uk-grid id="cards-container">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s">
                <h4 class="uk-card-title">Title</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s">
                <h4 class="uk-card-title">Title</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s">
                <h4 class="uk-card-title">Title</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s">
                <h4 class="uk-card-title">Title</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s">
                <h4 class="uk-card-title">Title</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s">
                <h4 class="uk-card-title">Title</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s">
                <h4 class="uk-card-title">Title</h3>
            </div>
        </div>
    </main>
    <Footer />
</Layout>