---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";
---

<Layout title="Equipo de WoodBox">
    <Header />
    <main>
        <h1>Equipo de WoodBox</h1>
        <hr>
        <div class="uk-grid-divider uk-child-width-expand@s uk-background-default uk-box-shadow-small uk-border-rounded uk-card uk-padding" uk-grid>
            <div class="uk-background-muted">
                <h4 class="uk-text-muted">Title</h3>
            </div>
            <div class="uk-background-muted">
                <h4 class="uk-text-muted">Title</h3>
            </div>
            <div class="uk-background-muted">
                <h4 class="uk-text-muted">Title</h3>
            </div>
        </div>
    </main>
    <Footer />
</Layout>