---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";

const team = [
    {
        name: "Celeste Rodriguez",
        profession: ""
    },
    {
        name: "Emanuel Zabaleta",
        profession: ""
    },
    {
        name: "Ariana Ramos",
        profession: ""
    },
    {
        name: "Santiago Molina",
        profession: ""
    },
    {
        name: "Angie Sandoval",
        profession: ""
    },
    {
        name: "Joseph Bernal",
        profession: ""
    }
];
---

<Layout title="Equipo de WoodBox">
    <Header />
    <main>
        <div class="uk-grid-divider uk-child-width-expand@s uk-background-default uk-box-shadow-small uk-border-rounded uk-card uk-padding">
            <h1>Equipo de WoodBox</h1>
            <hr>
            <div uk-grid id="team_members">
            </div>
        </div>
    </main>
    <Footer />
    <script is:inline define:vars={{ team }}>
        team.forEach((person) => {
            const article = document.createRange().createContextualFragment(/*html*/ `
                <div style="width: fit-content;" class="uk-border-rounded uk-tile uk-tile-primary uk-padding-small">
                    <p class="uk-h4">${person.name}</p>
                    <!-- <small>${person.profession}</small> -->
                </div>
            `);
            const team_members = document.getElementById("team_members").append(article);
        });
    </script>
</Layout>