<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="./assets/newsletter.jpg" style="height: 100%; object-fit:cover;" alt="Newsletter WoodBox">
        <div style='background: #32d296; width: fit-content; margin-left: auto;' class='uk-card-badge uk-label'>GET 10% OFF</div>
    </div>
    <div class="uk-padding uk-flex uk-flex-column uk-flex-stretch uk-flex-center uk-card-body">
        <h3 class="uk-card-title" style="color: #32d296; text-align: center;">Nuestro Newsletter</h3>
        <form class="uk-margin-top" method="POST" action="#" id="formV1">
            <label for="form_email">Dejanos tu correo: </label>
            <br />
            <input id="form_email" style="border: 1px solid #9993;" class="uk-input uk-form-blank uk-rounded" type="email" placeholder="john.doe@gmail.com" required />
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox" required> Acepto terminos y condiciones</label>
            </div>
            <button class="uk-button uk-button-default">Suscribirme</button>
        </form>
    </div>
</div>	

<script src="/assets/js/newsletter.js" is:inline></script>
</script>