---
export interface Props {
	title: string;
	description: string;
}

import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Seo from '../components/seo/Seo.astro';
import "../styles/globals.css";
const { title, description } = Astro.props;

/* UIKIT */
import "../components/uikit/css/uikit.min.css";
import "../components/uikit/css/uikit-rtl.min.css";
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/assets/brand/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Sigmar&display=swap" rel="stylesheet">
		
		<Seo title={title} description={description} />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-30M3SYSKM2"></script>
		<script type="text/javascript">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-30M3SYSKM2');
		</script>

		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script src="../components/uikit/js/uikit.js"></script>
		<script src="../components/uikit/js/uikit-icons.js"></script>
	</body>
</html>